/* font */
@font-face {
  font-family: "Computer Modern";
  src: url('../fonts/cmu.serif-roman.ttf') format('truetype'); /* Adjust path as needed */
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Computer Modern", sans-serif; /* Use your custom font */
}

/* Class for circular images */
.circular-image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}

.circular-icons {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.social-link {
  text-decoration: none;
}

/* Centering the image with "img-center" id */
#img-center {
  margin-right: 30px;  /* Margin: right only */
}

/* Top container styles */
.top-container {
  display: flex;    
  align-items: center;   
  justify-content: center;
}

.top-container h1,
.top-container p {
  margin: 0;   
}

/* Centering Subsections */
#subsection-title{
  text-align: center;
}

.course-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%; /* Full-width container */
  margin: 0 auto;
}

.course-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  width: 300px; /* Fixed width for the card */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.course-card:hover {
  transform: scale(1.05);
}

/* Style for the image container to align images horizontally */
.course-image-container {
  display: flex;
  flex-wrap: wrap; /* Allow images to wrap to the next line if necessary */
  gap: 10px; /* Space between images */
}

.course-image {
  width: calc(50% - 5px); /* 2 images per row for a total of 4 images in 300px width */
  border-radius: 8px;
  object-fit: cover;
}

.course-title {
  font-size: 1.5em;
  margin: 10px 0;
}

.course-description {
  font-size: 1em;
  color: #555;
  margin-top: 10px;
}

.course-links {
  margin-top: 10px;
}

.course-links a {
  margin-right: 10px;
  text-decoration: none;
  color: #007BFF;
}


.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.project-card:hover {
    transform: scale(1.05);
}
.project-image {
    width: 100%;
    border-radius: 8px;
}
.project-title {
    font-size: 1.5em;
    margin: 10px 0;
}
.project-description {
    font-size: 1em;
    color: #555;
}
.project-links {
    margin-top: 10px;
}
.project-links a {
    margin-right: 10px;
    text-decoration: none;
    color: #007BFF;
}